.icon-wrapper{
    .notification{
        padding: 0px 20px 0px;
        position: relative;
        i{
            background-color: #f1f1f1;
            border-radius: 50px;
            padding: 10px;
        }
        span{
            background-color: #F05A28;
            border-radius: 50%;
            position: absolute;
            top: -15px;
            right: 5px;
        }
    }
    #cart-btn{
        font-size: 14px;
        background: none;
        border: none;
        p{
            font-size: 11px;
            text-align: left;
            margin: 0;
        }
    }
}