.navbar{
    margin: 5px 0px 0px;
    padding: 0px;
    span{
        padding: 0px 10px;
    }
    a{
        font-size: 12px;
    }  
}
#nav-span{
    margin: 5px 0px 0px;
    padding: 0px;
    font-size: 13px;
    p{
        margin-bottom: 0;
    }
    span{
        padding: 0px 10px;
    }
    #secondary{
        color: #1C67A8;
    }
    a{
        text-decoration: none;
    }
    #support{
        color: #F05A28;
    }
 }