.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #4783de ;
  border-color: #4783de ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #4783de ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
